<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="asiantech.quocnp.manager_battery" >

    <application
        android:name=".App_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        tools:ignore="AllowBackup" >
        <activity
            android:name=".activity.BatteryStatusActivity_"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeManagerBatteryActivity_"
            android:noHistory="true" >
        </activity>

        <service android:name=".services.BatteryServices" />

        <!--
        <activity
            android:name=".activity.BatteryStatusActivity_"
            android:noHistory="true"
            android:label="@string/title_activity_battery_status"
            android:theme="@style/MyTheme" >
        </activity>
        -->
        <activity
            android:name=".activity.DemoActivity_"
            android:label="@string/title_activity_demo"
            android:theme="@style/MyTheme" >
        </activity>
    </application>

</manifest>
